{% extends 'base.html.twig' %}

{% block title %}New Topping{% endblock %}

{% block body %}
    <h1>Create new Topping</h1>

    {{ include('admin/topping/_form.html.twig') }}

    <a href="{{ path('admin_topping_list') }}">back to list</a>
{% endblock %}
